:root {
    --tr-font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

html {
    font-family: var(--tr-font-family);
}

/*
1. Making button's default color transparent
2. Correct the inability to style clickable types in iOS and Safari.
*/

button {
    background-color: transparent;
    -webkit-appearance: button;
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
6. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

.tremor-base {
    box-sizing: border-box; /* 1 */
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    -o-tab-size: 4;
       tab-size: 4; /* 3 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: #e5e7eb; /* 2 */
}

.tremor-base :is(
    *,
    ::before,
    ::after
) {
    box-sizing: inherit; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: #e5e7eb; /* 2 */
    line-height: inherit;
}

/*
Remove default margins from all text elements
*/

.text-elem {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

.input-elem {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: inherit; /* 1 */   
}

/*
Set tooltip font-family
*/

.tremor-base ::before,
.tremor-base ::after,
::after.tremor-base,
::before.tremor-base {
  --tw-content: '';
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

.tremor-base abbr:where([title]),
abbr:where([title]).tremor-base {
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

.tremor-base table,
table.tremor-base {
    text-indent: 0; /* 1 */
    border-color: inherit; /* 2 */
    border-collapse: collapse; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

.tremor-base button,
.tremor-base select,
button.tremor-base,
select.tremor-base {
  text-transform: none;
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

.tremor-base :-moz-focusring,
:-moz-focusring.tremor-base {
    outline: auto;
}
  
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

.tremor-base :-moz-ui-invalid,
:-moz-ui-invalid.tremor-base {
    box-shadow: none;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

.tremor-base ::-webkit-inner-spin-button,
.tremor-base ::-webkit-outer-spin-button,
::-webkit-inner-spin-button.tremor-base,
::-webkit-outer-spin-button.tremor-base {
    height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

.tremor-base [type='search'],
[type='search'].tremor-base {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

.tremor-base ::-webkit-search-decoration,
::-webkit-search-decoration.tremor-base {
    -webkit-appearance: none;
}  

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

.tremor-base ::-webkit-file-upload-button,
::-webkit-file-upload-button.tremor-base {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/*
Removes the default spacing and border for appropriate elements.
*/

.tremor-base :is(
    ol,
    ul,
    menu
),
ul.tremor-base,
ul.tremor-base,
menu.tremor-base {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
*/

.tremor-base input::-moz-placeholder,
.tremor-base textarea::-moz-placeholder,
input::-moz-placeholder.tremor-base,
textarea::-moz-placeholder.tremor-base {
    opacity: 1; /* 1 */
}
  
.tremor-base input:-ms-input-placeholder,
.tremor-base textarea:-ms-input-placeholder,
input:-ms-input-placeholder.tremor-base,
textarea:-ms-input-placeholder.tremor-base {
    opacity: 1; /* 1 */
}

.tremor-base input::placeholder,
.tremor-base textarea::placeholder,
input::placeholder.tremor-base,
textarea::placeholder.tremor-base {
    opacity: 1; /* 1 */
}

/*
Set the default cursor for buttons.
*/

.tremor-base button,
.tremor-base [role="button"],
button.tremor-base,
[role="button"].tremor-base {
    cursor: pointer;
}

.tremor-base :disabled,
:disabled.tremor-base {
    cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

.tremor-base :is(
    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object
) {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

.tremor-base [hidden],
[hidden].tremor-base {
    display: none;
}

*, ::before, ::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
}

@tailwind base;
@tailwind components;
@tailwind utilities;